.App {
  text-align: center;
  padding: 2rem;
}

.App h1 {
  font-size: 4rem;
}

.QuoteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.QuoteHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.Quote {
  font-size: 2rem;
}

.QuoteInfo {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
